# EDA

# Import Data

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

sns.set(rc={"figure.figsize": (22, 8)})

In [2]:
train = pd.read_csv(f"data/processed/processed_train.csv", index_col=0)
test = pd.read_csv(f"data/processed/processed_test.csv", index_col=0)

train

,date,family,onpromotion,typeholiday,dcoilwtico,state,typestores,cluster,sales
0,2013-01-01,AUTOMOTIVE,0,Holiday,93.14,Pichincha,D,13,0.000
1,2013-01-01,BABY CARE,0,Holiday,93.14,Pichincha,D,13,0.000
2,2013-01-01,BEAUTY,0,Holiday,93.14,Pichincha,D,13,0.000
3,2013-01-01,BEVERAGES,0,Holiday,93.14,Pichincha,D,13,0.000
4,2013-01-01,BOOKS,0,Holiday,93.14,Pichincha,D,13,0.000
...,...,...,...,...,...,...,...,...,...
2175817,2017-08-15,POULTRY,0,Holiday,47.57,Pichincha,B,6,438.133
2175818,2017-08-15,PREPARED FOODS,1,Holiday,47.57,Pichincha,B,6,154.553
2175819,2017-08-15,PRODUCE,148,Holiday,47.57,Pichincha,B,6,2419.729
2175820,2017-08-15,SCHOOL AND OFFICE SUPPLIES,8,Holiday,47.57,Pichincha,B,6,121.000
2175821,2017-08-15,SEAFOOD,0,Holiday,47.57,Pichincha,B,6,16.000

In [3]:
for i in train:
    print(f"column {i}: {train[i].unique()}")

column date: ['2013-01-01' '2013-01-02' '2013-01-03' ... '2017-08-11' '2017-08-14'
 '2017-08-15']
column family: ['AUTOMOTIVE' 'BABY CARE' 'BEAUTY' 'BEVERAGES' 'BOOKS' 'BREAD/BAKERY'
 'CELEBRATION' 'CLEANING' 'DAIRY' 'DELI' 'EGGS' 'FROZEN FOODS' 'GROCERY I'
 'GROCERY II' 'HARDWARE' 'HOME AND KITCHEN I' 'HOME AND KITCHEN II'
 'HOME APPLIANCES' 'HOME CARE' 'LADIESWEAR' 'LAWN AND GARDEN' 'LINGERIE'
 'LIQUOR,WINE,BEER' 'MAGAZINES' 'MEATS' 'PERSONAL CARE' 'PET SUPPLIES'
 'PLAYERS AND ELECTRONICS' 'POULTRY' 'PREPARED FOODS' 'PRODUCE'
 'SCHOOL AND OFFICE SUPPLIES' 'SEAFOOD']
column onpromotion: [  0   3   5   1  56  20  19   2   4  18  17  12   7   6  10   9  50   8
  16  42  51  15  47  21  40  37  54  24  13  58  22  59  11  45  25  55
  26  43  35  14  28  46  36  32  53  57  27  39  41  30  29  49  23  48
  44  38  31  52  33  34  61  60 116  86  73 113 102  68 104  93  70  92
 121  72 178 174 161 118 105 172 163 167 142 154 133 180 181 173 165 168
 186 140 149 145 169 188  62  84 111  65 107  63 101  87 125  94 114 171
 153 170 166 141 155 179 192 131 147 151 189  79  74 110  64  67  99 123
 157 117 150 182 162 160 194 135 190  69 108  89 126 156 103 146 132 177
 164 176 112  75 109  91 128 175 187 148 137 184 196 144 158 119 106  66
 100  90 120 115  98 159 152 185 139 143  80 124  71 134 193  78  88 122
 130  81  97 138 191  76  96 198  82  95 195 183 199 200 201 197  77  83
 136 205 204 202 129 206  85 209 211 207 208 203 210 127 213 212 218 216
 217 214 222 220 223 229 225 228 224 231 215 233 230 235 227 221 226 219
 289 245 609 261 304 639 489 299 243 630 476 655 446 286 633 435 302 644
 470 237 626 507 317 624 474 240 672 306 600 383 293 258 646 444 305 642
 452 313 252 664 481 277 307 264 684 479 255 657 441 283 628 469 276 464
 677 420 247 629 424 290 269 716 473 253 254 678 496 275 282 741 512 236
 234 244 239 238 242 232 249 250 241 251 391 539 411 486 407 330 697 246
 467 263 591 248 519 425]
column typeholiday: ['Holiday' 'Normal' 'Additional' 'Event']
column dcoilwtico: [93.14 92.97 93.12 ... 48.81 47.59 47.57]
column state: ['Pichincha' 'Cotopaxi' 'Chimborazo' 'Imbabura'
 'Santo Domingo de los Tsachilas' 'Bolivar' 'Pastaza' 'Tungurahua'
 'Guayas' 'Santa Elena' 'Los Rios' 'Azuay' 'Loja' 'El Oro' 'Esmeraldas'
 'Manabi']
column typestores: ['D' 'C' 'B' 'E' 'A']
column cluster: [13 15  6  7  3 12 16  9  1 10  8  2  4  5 11 14 17]
column sales: [0.000000e+00 2.000000e+00 8.100000e+02 ... 4.381330e+02 1.545530e+02
 2.419729e+03]

In [4]:
train.isna().sum()

date           0
family         0
onpromotion    0
typeholiday    0
dcoilwtico     0
state          0
typestores     0
cluster        0
sales          0
dtype: int64

In [5]:
train["date"] = pd.to_datetime(train["date"])

## Trusted

In [6]:
train_set = pd.read_csv(f"data/trusted/training_set.csv", index_col=0)
val_set = pd.read_csv(f"data/trusted/validation_set.csv", index_col=0)

# train_set = train_set[['sales', 'onpromotion',
#       'dcoilwtico', 'cluster', 'Holiday', 'Normal', 'Additional', 'Event']]
train_set.drop("state", inplace=True, axis=1)
val_set.drop("state", inplace=True, axis=1)

train_set

,date,sales,onpromotion,dcoilwtico,cluster,Holiday,Normal,Additional,Event,AUTOMOTIVE,...,POULTRY,PREPARED FOODS,PRODUCE,SCHOOL AND OFFICE SUPPLIES,SEAFOOD,D,C,B,E,A
0,2013-01-01,0.000,0.000000,0.792965,0.7500,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,2013-01-01,0.000,0.000000,0.792965,0.7500,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,2013-01-01,0.000,0.000000,0.792965,0.7500,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,2013-01-01,0.000,0.000000,0.792965,0.7500,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,2013-01-01,0.000,0.000000,0.792965,0.7500,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1631861,2016-06-17,301.762,0.006748,0.258321,0.8125,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1631862,2016-06-17,7226.000,0.141700,0.258321,0.8125,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1631863,2016-06-17,31.000,0.000000,0.258321,0.8125,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1631864,2016-06-17,2.000,0.000000,0.258321,0.8125,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1631865,2016-06-17,13.000,0.000000,0.258321,0.8125,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [7]:
def get_features_and_target(df: pd.DataFrame, target="sales"):
    """get features and target sets for model training and eval

    Args:
        df (pd.DataFrame): df with features and y
        target (str): target column name

    Returns:
        Tuple[pd.DataFrame, pd.DataFrame]: features_set, target_set
    """
    return df.drop(["date", target], axis=1), df[[target]]

In [8]:
X_train, y_train = get_features_and_target(train_set)
X_val, y_val = get_features_and_target(val_set)

X_train.shape, y_train.shape

((1631866, 45), (1631866, 1))

In [9]:
X_train = X_train.values.reshape((X_train.shape[0], 1, X_train.shape[1]))
y_train = y_train.values.reshape((y_train.shape[0], 1, y_train.shape[1]))

In [10]:
X_val = X_val.values.reshape((X_val.shape[0], 1, X_val.shape[1]))
y_val = y_val.values.reshape((y_val.shape[0], 1, y_val.shape[1]))

In [11]:
from keras.models import Sequential, load_model
from keras.layers import LSTM, Dense

model = Sequential()
model.add(LSTM(100, activation="relu"))
model.add(Dense(1))
model.compile(optimizer="adam", loss="mse")

2023-12-12 17:02:11.477214: E external/local_xla/xla/stream_executor/cuda/cuda_dnn.cc:9261] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
2023-12-12 17:02:11.477312: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:607] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
2023-12-12 17:02:11.534363: E external/local_xla/xla/stream_executor/cuda/cuda_blas.cc:1515] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2023-12-12 17:02:11.648572: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-12-12 17:02:13.068281: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

In [ ]:
history = model.fit(
    X_train, y_train, epochs=30, batch_size=50, validation_data=(X_val, y_val)
)

Epoch 1/50

2023-12-12 17:02:14.629323: W external/local_tsl/tsl/framework/cpu_allocator_impl.cc:83] Allocation of 293735880 exceeds 10% of free system memory.

32638/32638 [==============================] - 113s 3ms/step - loss: 328165.6875 - val_loss: 343719.6875
Epoch 2/50
32638/32638 [==============================] - 105s 3ms/step - loss: 268913.6250 - val_loss: 318665.4375
Epoch 3/50
32638/32638 [==============================] - 105s 3ms/step - loss: 262817.5625 - val_loss: 306730.9062
Epoch 4/50
32638/32638 [==============================] - 106s 3ms/step - loss: 258734.5625 - val_loss: 295646.7500
Epoch 5/50
32638/32638 [==============================] - 105s 3ms/step - loss: 254831.7656 - val_loss: 292411.6562
Epoch 6/50
32638/32638 [==============================] - 107s 3ms/step - loss: 250900.7656 - val_loss: 283895.0312
Epoch 7/50
32638/32638 [==============================] - 107s 3ms/step - loss: 246995.9062 - val_loss: 281963.3438
Epoch 8/50
32638/32638 [==============================] - 105s 3ms/step - loss: 243679.7812 - val_loss: 279748.7188
Epoch 9/50
32638/32638 [==============================] - 111s 3ms/step - loss: 240689.9062 - val_loss: 273265.2812
Epoch 10/50
32638/32638 [==============================] - 107s 3ms/step - loss: 237628.2031 - val_loss: 273422.3438
Epoch 11/50
32638/32638 [==============================] - 107s 3ms/step - loss: 234821.0312 - val_loss: 268285.1875
Epoch 12/50
32638/32638 [==============================] - 107s 3ms/step - loss: 232133.7344 - val_loss: 265681.8125
Epoch 13/50
32638/32638 [==============================] - 107s 3ms/step - loss: 229467.0469 - val_loss: 259676.3281
Epoch 14/50
32638/32638 [==============================] - 106s 3ms/step - loss: 226892.0781 - val_loss: 257453.0312
Epoch 15/50
32638/32638 [==============================] - 113s 3ms/step - loss: 224620.0469 - val_loss: 254323.0781
Epoch 16/50
32638/32638 [==============================] - 149s 5ms/step - loss: 222340.9375 - val_loss: 250275.7188
Epoch 17/50
32638/32638 [==============================] - 203s 6ms/step - loss: 220205.3281 - val_loss: 247592.8750
Epoch 18/50
32638/32638 [==============================] - 225s 7ms/step - loss: 218182.1406 - val_loss: 247299.2656
Epoch 19/50
32638/32638 [==============================] - 218s 7ms/step - loss: 216207.5000 - val_loss: 237117.6719
Epoch 20/50
32638/32638 [==============================] - 146s 4ms/step - loss: 214432.8125 - val_loss: 237216.3125
Epoch 21/50
32638/32638 [==============================] - 184s 6ms/step - loss: 212718.8438 - val_loss: 231157.6406
Epoch 22/50
32638/32638 [==============================] - 134s 4ms/step - loss: 211058.6562 - val_loss: 229095.8438
Epoch 23/50
32638/32638 [==============================] - 124s 4ms/step - loss: 209532.2188 - val_loss: 229617.8438
Epoch 24/50
32638/32638 [==============================] - 118s 4ms/step - loss: 208176.2344 - val_loss: 223942.9375
Epoch 25/50
32638/32638 [==============================] - 139s 4ms/step - loss: 206965.7812 - val_loss: 222743.4531
Epoch 26/50
32638/32638 [==============================] - 117s 4ms/step - loss: 205843.9531 - val_loss: 220333.7656
Epoch 27/50
32638/32638 [==============================] - 114s 3ms/step - loss: 204797.0625 - val_loss: 220802.8281
Epoch 28/50
32638/32638 [==============================] - 122s 4ms/step - loss: 203835.4062 - val_loss: 216557.9219
Epoch 29/50
32638/32638 [==============================] - 120s 4ms/step - loss: 203008.8125 - val_loss: 215384.6406
Epoch 30/50
32638/32638 [==============================] - 106s 3ms/step - loss: 202075.4688 - val_loss: 211738.1875
Epoch 31/50
32638/32638 [==============================] - 103s 3ms/step - loss: 201419.9688 - val_loss: 213493.5938
Epoch 32/50
32638/32638 [==============================] - 117s 4ms/step - loss: 200703.5469 - val_loss: 213439.0625
Epoch 33/50
32638/32638 [==============================] - 102s 3ms/step - loss: 199944.6250 - val_loss: 209903.7031
Epoch 34/50
32638/32638 [==============================] - 103s 3ms/step - loss: 199186.2656 - val_loss: 208896.0938
Epoch 35/50
32638/32638 [==============================] - 108s 3ms/step - loss: 198611.9531 - val_loss: 206097.8750
Epoch 36/50
32638/32638 [==============================] - 101s 3ms/step - loss: 198049.5312 - val_loss: 208033.1875
Epoch 37/50
32638/32638 [==============================] - 105s 3ms/step - loss: 197407.1406 - val_loss: 206706.7500
Epoch 38/50
32638/32638 [==============================] - 105s 3ms/step - loss: 196955.7031 - val_loss: 208651.4844
Epoch 39/50
32638/32638 [==============================] - 101s 3ms/step - loss: 196477.9219 - val_loss: 204185.7500
Epoch 40/50
32625/32638 [============================>.] - ETA: 0s - loss: 195935.0000

In [ ]:
X_train